$light: #f5f6fa;
$secondary: #dcdde1;
$white: #fff;

@mixin flex($direction: row, $justify: none, $align: none, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin grid($columns, $rows) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: karla;
    background: $light;
}

input,
button {
    border: none;
    outline: none;
}

.app {
    @include grid(1fr 3fr, 1fr);
    width: 100%;
    height: 100vh;
    // overflow: hidden;
}

.sidebar {
    @include grid(1fr, 1fr 2fr 1fr);
    background: $white;
    padding: 3em 2em;
    #{&}-form {
        @include flex(row, none, baseline);
        font-size: 1.1rem;
        padding: 0.5em;
    }
    #{&}-form__input {
        flex-grow: 1;
        margin: 0 0.5em;
        padding: 0.25em;
        &::placeholder {
            font-weight: 600;
        }
    }
    #{&}-body {
        @include grid(auto, auto auto auto);
        align-items: start;
        &__icon {
            justify-self: center;
            transform: scale(1.5);
        }
        &__title {
            font-size: 4rem;
            text-transform: capitalize;
        }
        &__text {
            font-weight: 600;
            font-size: 1.3rem;
            text-transform: capitalize;
            &:nth-of-type(1) {
                align-self: center;
            }
        }
    }
    #{&}-footer {
        align-self: end;
        text-transform: capitalize;
        text-align: center;
        background: darken($color: $light, $amount: 25);
        padding: 1.5em 2em;
        border-radius: 0.5em;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        font-weight: 700
    }
}

.main {
    @include grid(1fr, 1fr 2fr);
    padding: 2em;
}

.text-secondary {
    color: $secondary;
}
