* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: karla;
    background: #f5f6fa;
}

input,
button {
    border: none;
    outline: none;
}

ul li {
    list-style: none;
    display: inline-block;
    margin: 0 0.75em;
    padding: 0.25em 0;
    font-size: 1.2rem;
    font-weight: 600;
}
