@use "../utils/mixins";
@use "../utils/variables";

.sidebar {
    @include mixins.grid(1fr, 1fr 2fr 1fr);
    padding: 1em;
    background: variables.$white;
    #{&}-body {
        @include mixins.grid(auto, repeat(3, auto));
        align-items: start;
        div {
            @include mixins.grid(auto auto, 1fr);
            align-items: center;
        }
        &__icon {
            justify-self: center;
            transform: scale(1.1);
        }
        &__title {
            font-size: 4rem;
            text-transform: capitalize;
        }
        &__text {
            font-weight: 600;
            font-size: 1.3rem;
            text-transform: capitalize;
            &:nth-of-type(1) {
                align-self: center;
            }
        }
    }
    #{&}-footer {
        align-self: end;
        text-transform: capitalize;
        text-align: center;
        background: darken($color: variables.$secondary, $amount: 10);
        padding: 1.5em;
        border-radius: 0.5em;
        color: darken($color: variables.$white, $amount: 100);
        font-size: 1.2rem;
        font-weight: 700;
    }

    @include mixins.mobile-screen {
        @include mixins.grid(1fr, auto auto);
        height: 90vh;
        #{&}-body {
            @include mixins.grid(1fr, 1fr 0.5fr 0.5fr);
            div img {
                justify-self: end;
                margin-right: 0.75em;
            }
            &__text {
                justify-self: center;
                align-self: center;
                &:nth-of-type(1) {
                    align-self: end;
                }
            }
        }
    }
}
